[2016-06-13 15:52] mikelikespie opened #1 "Finalize ComponentVisitor protocol & convert graph to use it"
ComponentVisitor should be the one way we traverse the graph. Validation should also be separate Component Visitors

[2016-06-13 15:53] mikelikespie opened #2 "Add Subcomponents & Scopes"
Having subcomponents & custom scopes [like dagger](https://google.github.io/dagger/subcomponents.html) will be incredibly useful. This feature needs to be well thought out though.

[2016-06-13 15:55] mikelikespie opened #3 "Add "Singleton"/scope Protocol to make "asSingleton" default"
Some classes are inherently a singleton. One may forget to do `.asSingleton()` when configuring them currently. If we have a protocol called singleton which behaved similar to `@Singleton` annotation in java when used, we can make things better. This needs to be thought out a little more though since annotations in java and protocol conformance in swift have different semantics when it comes to in

[2016-06-13 15:57] mikelikespie opened #4 "Rethink/Finalize Overrides"
Cleanse has support for overriding components currently, but it is experimental. Dagger 2 chose to explicitly not support overrides. Do we want this behavior? Overrides should be thought out better at least before the API is finalized.

[2016-06-13 15:58] mikelikespie opened #5 "Remove Compiler Warnings"
Current state of the code is that it has warnings when compiled with both Swift 2.2 and Swift 3.0. This was so we could have code that compiles with both and not have to use too many `#if swift(>=3.0)` statements.

This should be cleaned up once swift 3 is officially released and we drop support for Swift 2.2

[2016-06-13 16:00] mikelikespie opened #6 "Remove "LegacyObjectGraph" (if desired)"
The legacy object graph exists to support use of requesting objects in an objective-c environment. The primary purpose of this is to facilitate migration from an older, internal DI library, but may be generally useful.

Getting rid of this appendage will simplify the code a little bit.

[2016-06-13 16:01] mikelikespie opened #7 "Add Cycle Validation"
Right now, if there's a dependency cycle, one will get a stack overflow at runtime. This isn't great and needs to be fixed.

When implementing this feature, we need to be extra careful to surface actionable error messages since debugging a cycle can be very hard.

[2016-06-13 16:03] mikelikespie opened #8 "Improve Error Handling for Duplicate Bindings"
If one bind the same type twice, it will fail immediately when the duplicate dependency is seen. This isn't terrible because the stack trace will show you where the second declaration is. However, the error messages don't show where the other binding is. This could be improved.

[2016-06-13 16:05] mikelikespie opened #9 "Clean up Code Generation"
The code generation for the multiple Arities binding is very gnarly. It should be DRYed a lot.

We've had success in other projects using code generation that has a DSL like the following

[code]

[2016-06-13 16:06] mikelikespie opened #10 "Hook up TravisCI"
This needs to be done after this repo is made public

[2016-06-13 16:07] mikelikespie opened #11 "Have TravisCI test everything"
This means testing swift 2.2 and open source swift 3.0 as well as running tests for example projects to make sure they don't regress.

[2016-06-13 16:07] mikelikespie opened #12 "Hook up Coveralls or other automated test coverage reporting"
Cleanse has good test coverage. It should stay that way. We should hook up an automated tool to report coverage.

[2016-06-13 16:11] mikelikespie opened #13 "Add Podspec if desired"
It may be desired to consume Cleanse via Cocoapods. If it is, a Podspec should be added. If somebody would like to take this on, adding a script that automatically updates the spec or tag appropriately or adding instructions to the README would be desirable.

[2016-06-13 23:28] mikelikespie opened #14 "Publish Documentation to gh-pages"
We have some lovely sphinx documentation in the Documentation folder. Just need to publish it and figure out the theming

[2016-06-13 23:51] mikelikespie opened #15 "Re-add logo to README"
Seems like github & rst doesn't like resizing images. Once we find a good way to make a smaller image, re-add it to the README.

Cleanse does have a sweet logo though.

![cleanse_logo](https://cloud.githubusercontent.com/assets/21435/16026958/20ed87a6-3187-11e6-8155-aedca3e358d3.png)

[2016-06-14 00:24] #13 closed

[2016-06-14 16:58] #15 closed

[2016-06-14 18:34] #10 closed

[2016-06-14 19:00] #12 closed

[2016-06-15 20:26] angadn commented on #3
I'm curious to know if `.asSingleton()` affects behaviour for `struct`s in any particular way, or is 'meaningless'

[2016-06-15 21:16] mikelikespie commented on #3
It will essentially memoize the value. Without a singleton the init method will be called each time it is requested. It also makes it so the injected fields of the struct are always the same.

In normal swift, one can think about it being equivalent to

  static let someSingleton = SomeStruct()

Versus

 static var someSingleton: SomeStruct {
    return SomeStruct()
  }

[2016-06-16 08:44] mariopavlovic opened #23 "Installing through CocoaPods returns "Unable to find a specification""
Adding `pod 'Cleanse', '~> 0.1'` returns `[!] Unable to find a specification for 'Cleanse (~> 0.1)'`
Adding `pod 'Cleanse'` returns `[!] Unable to find a specification for 'Cleanse'`

I can see that there's a spec on CocoaPods GitHub, but there's no instruction in readme

Pods version `1.0.1`

[2016-06-16 15:06] mikelikespie commented on #23
Haven't added it to readme since I wasn't sure if it was working. Will take a look today

[2016-06-16 15:53] dnkoutso commented on #23
@mariopavlovic works for me in a sample app.

Can you check if your master repo includes Cleanse? Its locaed in `~/.cocoapods/repos/master`.

Finally since, CocoaPods 1.0.1 you need to run `pod install --repo-update` to ensure an update of your repos happens.

[2016-06-21 05:19] #23 closed

[2016-06-21 05:19] mikelikespie commented on #23
@mariopavlovic please reopen if you're still having issues

[2016-07-06 11:25] nvcken opened #24 "Add good ref good iOS injection"
Because see this repo inspired from 2 Java/Android injection
I think this ref will more useful
https://github.com/johnno1962/injectionforxcode

[2016-07-07 01:59] mikelikespie opened #25 "Singletons objects will deallocate if becoming unreferenced and reinstantiated"
This means that singletons aren't always singletons. Its related to retain cycle prevention code that exists. How memory management is done in Cleanse is a bit tricky right now if we want to both avoid retain cycles and allow for weakly referring to singleton dependencies.

[2016-07-08 09:16] hberenger opened #26 "Crash when injecting an optional protocol"
Hello,

I faced a crash while playing with Cleanse, when I tried to inject an optional protocol.
The crash can be reproduced in a XCode 7.3 playground with the code below :

[code]

The crash occurs in Provider.swift, in `Provider.makeNew` and `AnyProvider.asCheckedProvider`.
When downcasting from `Any` to `Element` (e.g `getter() as! Element`), you get the following exception :

The problem is in

[2016-07-13 19:15] mikelikespie commented on #26
Good find! Yeah this shouldn't be happening... Your use case should be supported. I'll try to take a look at this though, unless you wanna try a fix :)

[2016-07-20 08:13] angadn commented on #25
+1 I am facing this as well, and in my case I was trying to configure a Singleton at one end so as to use it at another. Can confirm that redeclaring it as a `class` instead of a `struct` doesn't fix the issue either. Hence, singletons cannot be reliably in-memory stateful :(

[2016-07-20 23:01] mikelikespie commented on #25
@angadn If you check out the branch for https://github.com/square/Cleanse/pull/27 it should have a fix for it.

This branch is pretty deviated from master now, but is the direction we're taking cleanse for the next release

[2016-07-20 23:16] mikelikespie commented on #26
@hberenger

I was unable to reproduce your crash off the master version.

I created a test with your example verbatim here:

https://github.com/square/Cleanse/pull/28

If you're able to reproduce your bug in a fork or PR, please let me know & reopen this issue.

Can you try xcode 7.3.1 if you're on 7.3?

Thanks,
Mike

[2016-07-20 23:16] #26 closed

[2016-08-11 07:13] startupthekid opened #29 "Advantage of using Tags"
This framework is fantastic but the one thing I can't wrap my head around is

In the example:

[code]

and

[code]

are equivalent to:
- using `Provider<UINavigationController>` instead of `TaggedProvider<UIViewController.Root>`
- removing `.tagged(with: UIViewController.Root.self)`

What would the advantage of using tags be in this situation? Is it solely for API clarity?

Continuing with the api

[2016-08-23 19:58] holmes commented on #29
You've got it exactly right. It's mostly for API clarity and differentiating between Element types. Examples always feel a bit contrived, but yours captures it just fine. An API, Github link and a support link could all be NSURL and you would have to differentiate between them.

[2016-08-23 20:03] startupthekid commented on #29
That makes perfect sense, thanks!

[2016-08-23 20:03] #29 closed

[2016-08-31 08:38] Lukas-Stuehrk opened #30 "Swift 3 support"
Thanks for making this project open source. The ideas and concepts look solid and more promising than the existing DI frameworks for Swift.

From what I see in the source code, you already try to support Swift 3. However it seems that you target one of the early previews of Swift 3. The language has changed very much with the latest swift evolutions and because of that Cleanse doesn't work with th

[2016-10-01 19:06] charlag opened #34 "Question: injection with arguments"
Thanks for the awesome library!
README says that assisted injection is not supported. I was wondering, what is the recommended solution for it until it is supported? Should I create factories and write bindings for them or there is a better pattern?
Interface + implementation + factory + module sounds like a lot of code.
Thanks!

[2016-10-04 22:05] mikelikespie commented on #34
HI @charlag! We support something like this on our working branch with Components & ComponentFactories

https://github.com/square/Cleanse/pull/27

See https://github.com/square/Cleanse/blob/f4d3b8db9a02e14bcfb0e153572c3f8594721212/CleanseTests/ComponentTests.swift#L31 for example

This branch is more or less finished minus some tests and updating docs. I think it should fill your use case :)

[2016-10-05 02:21] mikelikespie commented on #30
@Lukas-Stuehrk We're definitely planning on swift 3. We're going to finish up this [PR](https://github.com/square/Cleanse/pull/27) for 2.3 then convert it to 3.0 for our big 1.0 release.

All we have to do for that PR is really update the docs. (it is where we're headed for the API though).

thanks for your patience!

-Mike

[2016-10-05 02:54] mikelikespie commented on #30
@Lukas-Stuehrk check out the swift-3 branch I just created for #36 . YMMV, but I'm guessing it will work well

[2016-10-05 04:49] charlag commented on #34
Thanks! SGTM.
I will migrate from Swinject in the next few months, let's see how this will work.
It's not Swift 3 only yet, right?

[2016-10-05 19:27] mikelikespie commented on #34
@charlag Nope! Not swift 3 only yet. Branch in #27 has all improvements that we're planning on for swift 3 release. We'd love to hear experience switching from Swinject to Cleanse if you want to report back.

[2016-11-22 17:03] Lukas-Stuehrk opened #37 "Dependencies between Modules"
When you have two modules and both modules depend on another module, Cleanse will crash because the bindings for the third module are already bound.

I am using the version of the `swift-3` branch which uses the static configuration of #27.

Minimal example:
[code]

This will fail with the following error:
[code]

Is there another way of using a module setup where the dependencies are like in my e

[2017-01-04 16:35] duribreux opened #38 "Swift3 - Why no more explicit overrideModule"
I used to have one `MainModule` with all my bindings inside and it was quite simple to override with Mock in my tests cases. Like:

[code]

And within my FakeModule
[code]

Now I just can't do that anymore because of `Already bound` exception occurring when I install my `MainModule` and then try to override like I used to.

Is the only solution to split `MainModule` to more specifics `<Specific>Mo

[2017-01-06 22:08] mikelikespie commented on #37
Thanks for the report! This is something I'd like to resolve soon. Since the "static-configure" branch its actually a lot easier now since one doesn't have to instantiate a module. I'll look into this soon I think

[2017-01-06 22:10] mikelikespie commented on #38
So we removed override modules for similar reasons dagger2 removed them.

However, when we removed them we didn't replace it with something to exchange components.

I have a WIP PR right here that  should improve this. https://github.com/square/Cleanse/pull/39/files#diff-1903bf857f2a6dd1ca32b4da88155b5e

Basically it allows one to have a "contract" with modules.

I haven't updated this to work wit

[2017-01-06 23:08] mikelikespie commented on #37
@Lukas-Stuehrk Added a fix 5989ef8cbab005cf00ec67370ad02ed0e490b87a as part of this pr https://github.com/square/Cleanse/pull/39

[2017-01-06 23:10] mikelikespie commented on #37
(need to port it to swift 3 branch though still)

[2017-01-06 23:23] mikelikespie commented on #37
ok, its on the swift-3 branch now

[2017-01-09 09:08] duribreux commented on #38
Thanks for your feedback.
In the end I decided to split my module last week and it worked pretty well.

You can close this issue if you want to.

[2017-01-09 17:24] mikelikespie commented on #38
@duribreux Thanks! glad it worked out. I know it's a bit more work w/o overrides, but I think it does enforce some better practices. (also overrides become pretty leaky semantically when dealing with components)

[2017-01-09 17:24] #38 closed

[2017-01-09 17:24] #34 closed

[2017-01-18 10:31] duribreux opened #40 "Using swift3 version in .podspec / release of 1.0 ?"
I'm currently developing a `framework` using the `swift-3` branch of `Cleanse` and I want to release it as a `pod`.

I [saw](https://github.com/square/Cleanse/issues/30#issuecomment-251565728) that you're planning on releasing a major `1.0` of `Cleanse` once you migration to `swift3` is ready like most of the libs I use which is great.

To release my pod I need to add `Cleanse` as dependency in my

[2017-01-27 08:52] dnkoutso commented on #40
You can re-publish Cleanse to your internal repo until the official release occurs.

[2017-02-28 08:54] hzsweers commented on #30
Mileage is varying, the branch doesn't seem to compile in its current state if I try to pull it in via carthage

[2017-03-01 01:36] mikelikespie commented on #30
@hzsweers Can you paste issue with Carthage? I don't use carthage, but I do know that this branch works with the xcode project that is checked in. Will be glad to help!

[2017-03-01 13:58] ddengler commented on #30
Tried this for the first time as well. Does not install with Carthage. Fails with the following errors:

[code]

[2017-03-01 14:03] ddengler commented on #30
The PR #41 seems to fix the issue.

[2017-03-01 19:44] hzsweers commented on #30
@mikelikespie yep looks like that PR should fix it

[2017-03-02 20:34] holmes opened #42 "Parent graphs can be deinited while a child graph is still alive"
This crashes the app pretty hard at `Graph.swift#280` where `let `self` = self!`

[2017-03-08 20:23] mikelikespie commented on #30
Applied similar fix to what was in #41

[2017-03-09 18:34] hzsweers commented on #30
@mikelikespie looks like it's still broken in the rc cut. Was it before or after your fix?

[code]

[2017-03-15 15:38] jtwigg opened #44 "Subcomponents: Are they the only way to configure components after launch?"
Am I correct in assuming that the tentative Subcomponents would allow me to configure a component after the RootComponent has been configured?

The use case I'm trying to solve is to configure our UI based on A/B experiment data coming back from the BE, however thats some time after the Root Component has been created.

Would the solution be to then configure a subcomponent with the resulting A/B

[2017-03-15 23:59] edenman opened #45 "InjectProperties from one component to multiple object types"
Hey yall!  I'm trying to add Cleanse to my app to split out debug-only code from the release build.  I'm trying to minimize my changes at first, so I'm using property injection (yes, I read the "property injection is a second-class citizen section of the readme).

Here's the component I've defined:

[code]
And I'm installing it here in my AppDelegate (this works great):
[code]
However, if I try to

[2017-03-16 16:58] holmes commented on #45
Try changing your `Root` to `LegacyObjectGraph`:

[code]

And then in your AppDelegate:

[code]

[2017-03-16 18:12] edenman commented on #45
talked to @holmes offline...LegacyObjectGraph isn't available in the version of Cleanse that is published in cocoapods.  Here's what we arrived at, instead:

the component:
[code]
then in AppDelegate,
[code]
This works, but it's _really_ clunky...every time I add a new injectable type, I have to add a new `bindPropertyInjectionOf` line, a new field on `Injector`, _and_ a new wrapper method in `App

[2017-04-03 04:07] ian-ellis commented on #2
@mikelikespie just wondering what the status on subcomponents is? I'm fairly new to swift/iOS but I've started playing around with Cleanse after using Dagger comprehensively and have come to the point where a subcomponent would be useful (I'm trying to have a root component for application scope but a subcomponent for view controllers / views). Just wondering if it's worth hanging out for it being

[2017-04-03 04:38] holmes commented on #2
@ian-ellis check out the swift-3 branch. It's got subcomponent support and is what we're currently using within our app.

We definitely need to update the docs for sub-components, I'm not sure what's even there. Best bet is to check out the tests.

[2017-04-03 05:25] ian-ellis commented on #2
@holmes thanks, is PropertyInjection still recommended for the app delegate or am I better of creating my own root struct and using that within the AppDelegate didFinishLaunchingWithOptions ?

[2017-04-03 18:28] holmes commented on #2
I'd highly recommend a root struct and skip the property injection.

[2017-04-29 10:17] AAverin commented on #30
Still doesn't seem to work with Cartage on newly created project with Xcode 8.3.2

[2017-04-29 13:43] AAverin opened #49 "Swift3 example"
Would be great to have example for Swift3.
The default example results in `Type AppDelegate.Component doesn't conform to protocol ComponentBase` forcing to override static funcs

[2017-05-05 02:41] pusolito opened #50 "How are Singleton Binders declared?"
I'm trying to use Binder<Singleton> in my project and it does not work.  I only see UnscopedBinder.  Can you explain what unscoped means and how to define things in singleton scope?

[2017-05-08 16:06] holmes commented on #50
Sorry, we really need to update documentation and examples for this. As well as merge the Swift 3 branch into master. Which hopefully you're using.

Here's how we use Singleton(s):

[code]

And then you can just bind using `asSingleton()` to make things super easy.

[code]

[2017-05-11 04:38] pusolito commented on #50
Thanks for clarifying.  This is exactly what I started doing after digging around in your code and seeing that pattern.  +1 for the merge and enriched docs.

I just want to say how well designed I think Cleanse is.  Please keep at it.

[2017-05-22 18:47] bboy79 commented on #50
Hi! First of all, sorry if this isn't the right place, but I didn't see the need to create a new issue. Is there any ETA on when will the examples and documentation be updated? I'm using the Swift 3 branch, but I'm facing some difficulties that would easily be avoided with docs and/or examples. Thank you in advance, and thank you for developing the library!

[2017-06-21 14:50] mpp-davel opened #51 "Not sure how to proceed with Swift3 project"
Hi,

I'm trying to get something very simple working: a single component which installs a single module which provides an implementation for a single protocol.

Essentially, all I want to do is to provide an implementation of a protocol without having to manually inject (potentially many dependent objects) via constructors. Have I misunderstood that Cleanse can help with this?

I don't know how to

[2017-06-21 15:34] mpp-davel commented on #51
After some trial and error, I got it working - hope this might help anyone looking for a Swift3 example:

### The root component and implementation

[code]

### The service module and implementation

[code]

### Building the component

[code]

[2017-06-21 15:34] #51 closed

[2017-06-22 20:15] mpp-davel opened #52 "How should I solve cyclical dependencies in Cleanse?"
Hi,

I'm using the `swift-3` branch of Cleanse and have a question related to solving cyclical dependencies:

I have a case where `ModuleA` depends on `ModuleB`, and `ModuleB` depends on `ModuleA`.

In order to work around this cyclic dependency I thought making `ModuleA` depend on `Provider<ModuleB>` should work, but it does not and I still get the following error: `*** ModuleA *** Dependency Cyc

[2017-06-23 21:36] holmes commented on #52
I think you can use a `WeakProvider`.

But in all honesty you should really remove the circular dependency.

[2017-06-30 17:43] #3 closed

[2017-06-30 17:44] #5 closed

[2017-06-30 17:44] holmes commented on #5
Removed in the swift3 branch

[2017-06-30 17:44] holmes commented on #49
Fixed w/ https://github.com/square/Cleanse/pull/54

[2017-06-30 17:44] #49 closed

[2017-06-30 17:46] holmes commented on #50
@bboy79 Examples have been updated. Docs coming up soon!

[2017-06-30 17:46] #50 closed

[2017-06-30 17:46] #2 closed

[2017-06-30 17:47] holmes commented on #2
Please check the swift3 (soon to be merged to master) for component support.

[2017-06-30 17:47] holmes commented on #11
Done, but only running swift 3.0 now.

[2017-06-30 17:47] #11 closed

[2017-06-30 18:02] #37 closed

[2017-07-03 14:31] #52 closed

[2017-07-03 14:31] holmes commented on #40
Currently pod'd as 1.0-rc1

[2017-07-03 14:31] #40 closed

[2017-07-03 14:32] holmes commented on #30
merged to master, pod'd as 1.0-rc1

[2017-07-03 14:32] #30 closed

[2017-07-03 14:32] holmes commented on #4
removed overrides altogether!

[2017-07-03 14:32] #4 closed

[2017-07-03 14:34] holmes commented on #44
That's one way to do it.

Or depending on how complex your graph is you can just inject a `Provider<Thing>` and in the binding of the `Thing` test for your feature flag.

[2017-07-03 14:40] holmes opened #59 "Cleanse is broken in Swift 3.2"
A few silly little warnings.

But the big issue is when declaring a `Component` that has a `Seed` of `Void`.

Now when calling `componentFactory.build()` we're getting

[code]

I've tried passing `Void` but then it says
[code]

We'll have to find the magic incantation.

[2017-07-03 14:45] holmes commented on #59
Created a swift-3.2 branch for the changes.

[2017-07-27 03:32] Daemon-Devarshi commented on #59
Any update on this issue?

[2017-07-27 05:37] holmes commented on #59
No sorry, haven't had any time to look into it.

[2017-12-21 01:23] lotz opened #61 "Is this project dead?"
Not a lot of action in here in some time. Just wondering if I should look elsewhere for a Swift DI framework (answer: probably). Thanks!

[2017-12-21 03:29] holmes commented on #61
@lotz It's very much alive in our Appointments app on iOS. We just haven't seen much activity from the community.

We are lacking Swift 4 support, which we should probably get on.

[2018-02-16 05:54] startupthekid commented on #61
I would love to use it; I've been looking forward to it for some time. I tried it out in the early stages and I really liked the API and how it was setup. What can I do to help get it out to everyone?

[2018-02-16 06:01] holmes commented on #61
@startupthekid we could use help migrating to swift 4. That and blog posts are probably the most helpful.

[2018-02-16 06:02] startupthekid commented on #61
Gotcha, what's the latest branch I should fork?

[2018-02-16 06:06] holmes commented on #61
Looks like `swift-3.2` is the latest. Man we're behind.

[2018-02-17 08:06] startupthekid commented on #61
#62

[2018-03-28 04:20] sebastianv1 commented on #61
@startupthekid We've updated the code to support swift4. Should compile without any issues.
@holmes Does this issue seem okay to resolve?

[2018-03-28 06:35] startupthekid commented on #61
Sweet! Would you guys mind turning on the TravisCI for this repo as well? My first PR will be getting that working and then linting (SwiftLint) and automation (Fastlane).

Are the tests fixed as well? I've been trying to figure out how to fix them these past few days but I've been stuck learning how Cleanse works internally and haven't made much progress. Apart from the lining, getting travis work

[2018-03-28 21:03] #61 closed

[2018-03-28 21:04] holmes commented on #61
@sebastianv1 can you try turning on TravisCI?

[2018-03-30 05:46] sebastianv1 commented on #61
@holmes Can do.
@startupthekid The tests should all be working (although still running on Swift3). And we're always open to contributions! I think adding a linter to Cleanse is a good idea, but I'm not quite sure what Fastlane would achieve.

[2018-03-30 06:06] sebastianv1 commented on #59
@holmes Resolve this one too. Should be fixed.

[2018-03-30 07:31] sebastianv1 opened #67 "Building with Swift 4 Blocked on SR-6108"
Reference: https://bugs.swift.org/browse/SR-6108

It appears there is a bug in Swift as a result of SE-0110 (stronger type safety for tuples) that affects our BinderArities methods. Cleanse fails to compile tests because of the following compiler error:
[code]

For some reason, swift cannot disambiguate between the two generic functions. There is a workaround listed in the JIRA from the swift proj

[2018-03-30 16:35] #59 closed

[2018-03-31 19:24] startupthekid commented on #61
Not so much Fastlane I guess, more just some automation tool for doing things like running tests, building frameworks for each platform, releasing new versions and pushing to cocoapods, etc. Fastlane is just the most popular of iOS automation tools but bash/ruby/python scripts work well too.

[2018-04-01 02:04] sebastianv1 commented on #61
I see. Well we already have TravisCI running our tests against any PR to master, but feel free to open a PR for any improvements where you see fit.

[2018-04-09 14:58] akoskomuves commented on #67
Hi guys! Is there any update about this issue?

[2018-04-09 16:08] sebastianv1 commented on #67
@akoskomuve No update yet. I'll look into it this week and get an answer back to you

[2018-04-09 19:48] mikelikespie commented on #67
:/ this issue concerns me. I honestly don't know of a good, easy solution for this. @sebastianv1 maybe time to open up the swift compiler source :)

[2018-04-11 16:11] sebastianv1 commented on #67
From the JIRA ticket:
"Unfortunately you'd have to use a workaround for now, by adding labels as suggested or changing function names, ideally we'd have the second overload to match unambiguously but we need to do more refactoring of function type representation to get there."

This is a little concerning since it's not clear which version of swift it will be fixed in.
@mikelikespie We could contr

[2018-05-09 09:42] eduardbosch commented on #67
So Cleanse does not work with Swift 4 and above right now, right?

I wanted to test it out, but I could not manage to use it with swift 4.1

If it should work, I can post my problems in another issue.

Thanks

[2018-05-29 20:53] sebastianv1 commented on #67
@eduardbosch Correct, Cleanse does not work with Swift4.x+ right now. I'll be working on a potential fix/change soon since we will also need Cleanse on swift4 soon.

[2018-05-29 21:36] LeeWong commented on #67
@sebastianv1 Do you know when the support for Swift4.x+ will be in place? Thank you.

[2018-05-29 21:55] sebastianv1 commented on #67
@LeeWong Working on a fix this week.

[2018-05-30 07:05] eduardbosch commented on #67
Thanks @sebastianv1

I'm currently using DIP https://github.com/AliSoftware/Dip which works with Swift 4.x. I'll try Cleanse when it works with Swift 4.x too 😉

[2018-05-30 18:11] sebastianv1 commented on #67
I've spent a fair amount of time thinking through a number of workarounds that balances minimizing how much we change the core API of cleanse (specifically the `to` clause that is causing the issue)
and reverting back to the normal API easy when the generic function ambiguity issue is resolved in swift.

Right now, one potential solution is to change each of the labels from `factory` to their corr

[2018-05-30 18:37] mikelikespie commented on #67
Hmm I think that would ruin a lot of the convenience that cleanse provides and may even make it not worth added complexity of DI system.

What about just renaming the 1-arity `to` function to `to1` which will disambiguate the tuple version of functions. I think you may even be able to make a 1-arity version have `@available(deprecated, instead=to1` with the name `to` which will help migration.

St

[2018-05-30 19:02] sebastianv1 commented on #67
@mikelikespie There still exists arity-0 that causes ambiguity. I played around with this idea and the compiler wants to use the 0-arity function instead of the 6th-arity for say `Hamburger.init` with 6 dependencies for some reason.

[2018-05-30 21:29] mikelikespie commented on #67
Does hamburger have a 0 argument constructor too? What happens if 0th arity is renamed?

[2018-05-31 00:19] ferologics opened #68 "Swift 4 DI framework alternatives?"
Was cheering for the swift 4 support. bummer.
I hope #67 can be resolved soon 💪 🔢

Personal runner ups:
0️⃣ `factor` 1️⃣ `factory` 2️⃣ `factoruple` 3️⃣ `factoryplet` 4️⃣ `factoruple` 5️⃣ `factopenta` | `pentafactory` 6️⃣ `hexafactory` | `factorhex`

In the mean time, can anybody point me to a simple swift 4 compatible DI framework?

[2018-05-31 16:48] sebastianv1 commented on #68
@ferologics We have a working swift4 solution (#69) that we can hopefully land soon!

[2018-06-07 23:05] #67 closed

[2018-06-08 15:17] #68 closed

[2018-06-24 19:54] startupthekid opened #70 "Sharing "Singleton" across scope and object graph"
Given these two root components with the following scope:

[code]

where `ViewModule` looks like:

[code]

it would seem that if I built instances of `FirstViewController` and `SecondViewController` that the `videoView` property on both would refer to the same instance. That doesn't seem to be the case though, it looks like singletons or objects created via `sharedInScope` are restricted not just

[2018-07-16 19:58] SunnyDayDev commented on #42
I have got the same issue. I will try to gather information how to reproduce it. May be you know how do it better?

[2018-07-17 16:35] holmes commented on #42
I haven't looked at this in a long time. If you can repro on a small project we can take another look.

[2018-09-19 14:30] CodyDunlap opened #74 "What would it take to get an updated version into Cocoapods?"
I'd like to use this library in my app but I use Cocoapods for Dependency Management. The latest version in Cocoapods is 0.1.0, though it appears you guys are much further than that.

[2018-09-19 17:43] sebastianv1 commented on #74
We'll push a new version to CocoaPods today. Thanks for the patience!

[2018-09-19 17:46] CodyDunlap commented on #74
Thanks!

[2018-09-19 22:26] #74 closed

[2018-09-19 22:28] sebastianv1 commented on #74
Updated in the master CocoaPods spec repo.

[2018-09-24 16:10] CodyDunlap opened #77 "Question: Is there a better way to use constructor injection for ViewControllers?"
So I have gone through all of example code that I can find on Cleanse, as well as the documentation. As my app can have rather deep navigation at times, I'm struggling with finding a clean solution to injecting dependencies into my view controllers. The problem I'm running into is that with the following scenario:

ViewControllerA - depends on Service1 - presents ViewControllerB
ViewControllerB -

[2018-09-24 16:44] sebastianv1 commented on #77
If I'm understanding your situation correctly, shouldn't you be able to bind `ViewControllerC` using `Service3` and `Service4` using Cleanse and then simply inject that object into `ViewControllerB`, thus removing the need to inject `Service3` and `Service4`.

If you're injecting `Service3` and `Service4` into `ViewControllerB`, then it sounds like you might be constructing `ViewControllerC` manua

[2018-09-24 17:04] CodyDunlap commented on #77
Sorry, yes. I think I was a little unclear. That's what I'm doing now. So ViewControllerB looks like:

init(service1: Service1, service2: Service2, nextViewController: ViewControllerC) {
   ...
}

But where I feel like I'm doing something wrong/missing something, is in the way those ViewControllers are being injected, because my example is actually quite simplified from my real use case. In some V

[2018-09-24 17:18] sebastianv1 commented on #77
Ah I see.

What you could do is turn them all into `Providers` which would only instantiate them when you call `.get()`.

So your init would look like:
[code]
And when you want to actually instantiate an instance of `ViewControllerC` (or any other view controller depending on the user input), you would do something like this:
[code]

[2018-09-25 01:39] sebastianv1 commented on #77
Closing. Feel free to reopen if that didn't answer your question.

[2018-09-25 01:39] #77 closed

[2018-09-25 14:02] CodyDunlap commented on #77
I think that will get me what I need, I just haven't had a chance to try it yet. Thanks!

[2018-11-11 18:38] gobetti commented on #3
Hi all (and @holmes), since this issue has been closed, I was wondering if it still makes sense to reference it in this repo's README?

From the "Scope Step" section:

Thanks!

[2018-11-20 14:13] naandonov opened #83 "Swift 4.2 incompatibility with the latest Cocoapods version"
The newest avaliable Cleanse version in the Cocoapods repo is 4.1.1, which does not contain the swift 4.2 incompitabilities refactoring, which was introduced in 4.1.2. Will there be a version update soon? Thank you.

[2018-12-07 17:47] sebastianv1 commented on #83
Apologies for the delay. Will push a new version to trunk later today or tomorrow. (There are some issues with pod spec lint I need to resolve)

[2018-12-14 22:10] sebastianv1 commented on #83
Published podspec v4.2 to the CocoaPods specs repo. Thanks for your patience.

[2018-12-14 22:10] #83 closed

[2019-02-05 19:41] sebastianv1 commented on #70
Sorry for the late reply, we're cleaning up all issues and this definitely isn't a stale issue. :)

I don't think there's a way to share scopes across `RootComponent` types. Since each one creates its own `Graph` instance there isn't a way to share that same binding. Ideally, there should only be one `RootComponent` in your app which represents very root node of your dependency graph. In the case

[2019-02-05 19:51] sebastianv1 commented on #45
Closing because this issue hasn't received any activity lately, feel free to reopen if it's still an issue.

[2019-02-05 19:51] #45 closed

[2019-02-05 19:51] sebastianv1 commented on #44
Closing because this issue hasn't received any activity lately, feel free to reopen if it's still an issue.

[2019-02-05 19:51] #44 closed

[2019-02-05 19:52] sebastianv1 commented on #42
Closing because this issue hasn't received any activity lately, feel free to reopen if it's still an issue.

[2019-02-05 19:52] sebastianv1 commented on #25
Closing because this issue hasn't received any activity lately, feel free to reopen if it's still an issue.

[2019-02-05 19:52] #25 closed

[2019-02-05 19:52] sebastianv1 commented on #14
Closing because this issue hasn't received any activity lately, feel free to reopen if it's still an issue.

[2019-02-05 19:52] #14 closed

[2019-02-05 19:52] sebastianv1 commented on #9
Closing because this issue hasn't received any activity lately, feel free to reopen if it's still an issue.

[2019-02-05 19:52] #9 closed

[2019-02-05 19:53] sebastianv1 commented on #8
Closing because this issue hasn't received any activity lately, feel free to reopen if it's still an issue.

[2019-02-05 19:53] #8 closed

[2019-02-05 19:53] sebastianv1 commented on #7
Closing because this issue hasn't received any activity lately, feel free to reopen if it's still an issue.

[2019-02-05 19:53] #7 closed

[2019-02-05 19:53] sebastianv1 commented on #6
Closing because this issue hasn't received any activity lately, feel free to reopen if it's still an issue.

[2019-02-05 19:53] #6 closed

[2019-02-05 19:53] sebastianv1 commented on #1
Closing because this issue hasn't received any activity lately, feel free to reopen if it's still an issue.

[2019-02-05 19:53] #1 closed

[2019-02-06 07:21] HenriLangenhoven opened #94 "AppDelegate.injectProperties method declaration is not shown in the README"
The title pretty much sums it up.

I suspect the method declaration was meant to go after this section:

[2019-02-07 18:09] sebastianv1 commented on #94
Ah thanks for calling that out. We did need a space after `code-block::` and a newline. Putting up a PR now.

[2019-02-07 18:29] #94 closed

[2019-02-19 19:49] #70 closed

[2019-02-21 13:56] TomVanDerSpek opened #96 "Scope Singleton"
According to the readme on GitHub I should be able to scope a Binder as <Singleton>:
[code]

Line 17 in Scope.swift also states the following:
`/// Currently there are only two scopes, `Unscoped` and `Singleton`.`

But it looks like Singleton is completely removed from the project. Can you update the documentation and let me know what I should use instead?

[2019-02-21 23:44] sebastianv1 commented on #96
I think adding the `Singleton` scope into the project by default would be a good idea. Originally it was excluded as scopes are user created (and we recommend calling the scope at the root component `Singleton`), but you're right, that isn't very clear in the README.

I'll open a PR for this, but if you'd like to create one for now, simply put in your project `struct Singleton : Cleanse.Scope {}`

[2019-02-22 00:40] #96 closed

[2019-02-28 10:48] SunnyDayDev commented on #42
I've created the project which reproduce the issue:

[2019-02-28 16:40] sebastianv1 commented on #42
Thanks for the repo project! Will likely take a look this weekend or early next week.

[2019-03-07 17:24] sebastianv1 commented on #42
@SunnyDayDev It appears the root of the issue is using a `PropertyInjector` type as the Root object. Using a `UIViewController` or `UIWindow` type for the root does not deinit the graphs.
So in the sample project, in `AppComponent.swift`, we could instead set the `Root` type as:
`typealias Root = UIWindow`.

I'll keep digging how to make the `PropertyInjector` retain an instance to subgraphs.

[2019-03-09 16:07] TomVanDerSpek opened #98 "How to solve dependency cycle / property injection doesn't seem to work."
I'm having issues with dependency cycle. My Coordinator needs a LoginViewController and my LoginViewController needs a Coordinator to function. But I haven't found a way to get this to work with constructor injection. I also tried propertyInject, but the propertyInjection method doesn't get called. Below you'll see an example of my implementation.

[code]

[code]

[code]

[2019-03-10 21:06] sebastianv1 commented on #98
@TomVanDerSpek Circular dependencies should generally be broken up, but Cleanse does provide the `WeakProvider` in order to allow this (similar to Dagger's `Lazy`). So in your example, it looks like the `LoginViewController` should have a weak reference back up to the parent coordinator, so it should inject a `WeakProvider<Coordinator>` instance. And then calling `.get()` will provide you the actu

[2019-03-11 08:35] TomVanDerSpek commented on #98
@sebastianv1 thank you for you answer, I would really like to solve the dependency cycle, but I don't think this is possible. The Coordinator is responsible for pushing the viewController and the viewController needs to notify the Coordinator that it should handle the navigation. So they need to know about each other. If you have any idea how to fix this I'd really like to know :)

Regarding the W

[2019-03-11 16:36] sebastianv1 commented on #98
Seems to be a limitation of the swift compiler to not see that the class constraint even if both protocols inherit from `AnyObject`. Either way, I've opened #99 which loosens the constraints on `WeakProvider` to accept non-class types (similar to how `Provider` works). How do you integrate Cleanse into your project? If it's CocoaPods I'll bump the podspec version and public a new version.

[2019-03-11 17:17] TomVanDerSpek commented on #98
Yes I’m using Cocoapods

[2019-03-11 17:31] sebastianv1 commented on #98
Cool. Merged the fix so I'll bump the version and publish to trunk now.

[2019-03-11 17:38] TomVanDerSpek commented on #98
Thanks for the quick fix! :)

Could you also help me out with the property injection? Or is it not possible to use property injection within a Module?

[2019-03-11 18:58] sebastianv1 commented on #98
Sure thing! Essentially you need to grab the `PropertyInjector` instance you bound and call `injectProperties(into:)` on an instance of that type. (Please note this is more of a second class citizen and should only be used if you don't control construction of the object).

So in your example, since you're binding a property injector instance of `LoginViewController`, we would include that as a dep

[2019-03-11 19:29] TomVanDerSpek commented on #98
Ah that makes things clear, thanks!

[2019-03-11 22:44] TomVanDerSpek commented on #98
@sebastianv1 ,

Unfortunately `WeakProvider<LoginViewController.Coordinator>` returns nil. Strangely enough when I specify a WeakProvider with a protocol it returns nil the first time I call .get() on it.
When I specify a `WeakProvder<Coordinator>` where the Coordinator is the class with the protocol implementation, it doesn't return nil the first time. But it does return nil on every other object

[2019-03-12 16:22] sebastianv1 commented on #98
Hmm, I'm having a hard time reproducing this behavior on my end. Do you have a sample project that I can poke around?

[2019-03-12 18:02] TomVanDerSpek commented on #98
Here is an example of the issue:
https://github.com/TomVanDerSpek/cleanse-tryout-ios

[2019-03-13 20:22] TomVanDerSpek opened #103 "Unjust dependency cycle"
Currently I am facing an issue where Cleanse stops the app due to a detected dependency cycle.
For example `LoginViewController` has a `Provider<OnboardingViewController>`
The `OnboardingViewController` has a `Provider<LoginViewController>`

This should not be an issue as long as the provider is used outside of the initialiser. I cannot think of a reason to use a Provider's .`get()` directly insid

[2019-03-18 04:47] sebastianv1 commented on #103
As designed. Even though you're injecting in the decorated `Provider<OnboardingViewController>`, cycle detection still resolves using the inner type `OnboardingViewController`. I'm currently working on a fix from your previous issue to use `WeakProvider`.

[2019-04-01 12:46] mahin8514 opened #104 "Usage with storyboards."
How can I use storyboard with cleanse?

[2019-04-01 17:07] sebastianv1 commented on #104
@mahin8514 This is usually done via Property Injection alongside the Storyboard `instantiateViewController(withIdentifier:)` function.

So if you have `ViewControllerA` you can create a property injector instance:
[code]

And then wherever you want to present `ViewControllerA` (say in `RootViewController`),
you would include a `PropertyInjector<ViewControllerA>` instance as a dependency of `RootVi

[2019-04-09 14:23] a-shelyuk opened #105 "Property Injections"
I'm trying to resolve properties of my objects, but in one of them `injectProperties` method does not call.

Here is my code:
[code]

So, my questions is what I'm doing wrong? why `Presenter.injectPoperties` does not call?

[2019-04-09 16:24] #104 closed

[2019-04-10 05:47] #105 closed

[2019-04-11 15:56] CodyDunlap opened #106 "Compiler issues with latest version of XCode and Swift 4"
We are using Swift 4 in our app and updating to the latest version of XCode with Swift 5 support seems to have introduced some new issues with Cleanse.

It appears to be similar to #83

In the configure function of a Module with a binder like `binder.bind().to(factory: MainViewController.init)` , we get an error message `ambiguous use of 'init'`

And when we use the `binder.bind().to { some code }

[2019-04-12 04:14] sebastianv1 commented on #106
It does appear to be the same issue, with a new compiler :)

I did a quick pass over turning each of the arity functions into:
[code]

Emphases on `((P_1, P_2))` where the closure more explicitly takes a tuple. This seems to work and compiles using swift 5 with the tests passing. I'll try it out tomorrow with our Square app internally to see if anything weird happens, and if not I'll open a PR to

[2019-04-16 13:31] CodyDunlap commented on #106
Thank you!

[2019-04-19 17:03] sebastianv1 commented on #106
Resolved with #107

[2019-04-19 17:04] #103 closed

[2019-04-19 18:22] sebastianv1 commented on #106
Published `4.2.4` to the CocoaPods specs repo

[2019-04-19 18:22] #106 closed

[2019-05-06 17:14] mcmurrym opened #109 "Readme is out-of-date"
I am trying to learn and understand the Clean framework. The sample project is nice but not as detailed in explanations as the Readme. When I try to follow the Readme however, it doesn't work; it appears to be out-of-date. I would be happy to update it, but I don't understand the framework enough yet to do so.

[2019-05-06 17:16] sebastianv1 commented on #109
@mcmurrym You're correct that the README is a little bit out of date, we're currently in the process of updating its contents. Do you mind pointing out the parts that are confusing so that we can address them in the next revision?

[2019-05-06 17:23] mcmurrym commented on #109
The text seems fine, not really confusing, but sample code isn't working well. for example:

[code]
extension RootViewController {
    /// Configures RootViewController
    struct Module : Cleanse.Module {
        func configure<B : Binder>(binder binder: B) {
            // Configures the RootViewController to be provided by the initializer
            binder
                .bind(RootViewControl

[2019-05-07 03:39] sebastianv1 commented on #109
I've opened #110 to update the same project (and included an additional CI stage to keep the sample project building).

What errors are you getting for the snippet you attached?

[2019-06-06 11:12] HenriLangenhoven commented on #109
Hi guys. The code snippets in the Readme still mention `binder.install(module:)` in several places.

[2019-06-14 01:42] sebastianv1 commented on #109
I've merged #111 to hopefully address all of your issues with the README.

[2019-06-14 01:42] #109 closed

[2019-09-04 23:28] sebastianv1 opened #112 "[RFC] Assisted Injection Feature"
# Cleanse: Assisted Inject
**Author**: [sebastianv1](https://github.com/sebastianv1)
**Date**: 9/4/2019
**Related Links**:
https://github.com/google/guice/wiki/AssistedInject
___

### Background

Factories that combine parameterization (or a seed value) and pre-bound dependencies are commonplace in any piece of software that derives its class variables from a particular state. For example, conside

[2019-09-09 02:19] #112 closed

[2019-09-09 02:20] sebastianv1 opened #114 "[Improvement] Better Duplicate Binding Error"
We throw a `fatalError` if there are duplicate bindings for the same type. This can be improved. Likely throw an exception to be handled by the `RootComponent` `of(_:)` function.

[2019-11-01 21:34] sebastianv1 opened #118 "[RFC] Cleanse: SPI"
# Cleanse: Service Provider Interface
**Author**: [sebastianv1](https://github.com/sebastianv1)
**Date**: 10/11/2019
**Links**:
[Service Provider Interface (SPI)](https://en.wikipedia.org/wiki/Service_provider_interface)
[Dagger SPI](https://dagger.dev/spi.html)

___

### Introduction

One of the benefits of a dependency injection framework is that it provides extra tooling and features for depend

[2019-11-19 02:37] #118 closed

[2019-12-08 05:59] kaushalyap opened #121 "How this differ from SwiftInject?"
I would like to know how this library differ from [SwiftInject](https://github.com/Swinject/Swinject)? What advantages Cleanse have over SwiftInject?

[2019-12-09 01:25] sebastianv1 commented on #121
@kaushalyap That's a great question, and it might even be a good idea for us to write up a little section in the `README` explaining how Cleanse differs from other DI frameworks out there.

I won't speak too much about the particulars of what SwiftInject does and doesn't provide, and tell you about the motivation and goals behind Cleanse. Cleanse was influenced by Google's Guice DI framework and a

[2019-12-09 05:37] kaushalyap commented on #121
@sebastianv1 Thanks for detailed response. It's better to add a comparison to the readme.

In Android dev world Square is highly recognized as an company creating high quality libraries for android dev ex: Retrofit, LeakCanary, SQLDelight But I have not heard much about Square's iOS dev ecosystem. May be you guys are more focused on Kotlin Multiplatform. So you guys do not have to use separate lib

[2019-12-09 05:37] #121 closed

[2019-12-09 06:33] sebastianv1 commented on #121
@kaushalyap We haven't seriously adopted Kotlin Multiplatform aside from isolated experiments, but I'd encourage you to poke around some of the other iOS open source projects we've published!

[2019-12-17 01:45] sebastianv1 commented on #42
PR to resolve (#122). PTAL!

[2019-12-17 01:45] sebastianv1 commented on #98
This _might_ be resolved by #122 . I'll clone down your sample project again and test it out, but PTAL!

[2019-12-17 02:00] sebastianv1 commented on #98
Spoke too soon. Appears it does not. Will look into this further.

[2019-12-17 17:03] #42 closed

[2020-01-12 20:18] ultraon opened #123 "Swift Package Manager issue"
Hello, thanks for this amazing library.
I have an issue with adding the library as a dependency using Swift Package Manager in Xcode 11.3

Error message:
[code]

I think the format of `Package.swift` should be updated.

[2020-01-28 23:16] DJBen opened #125 "Example project tests fail to compile"
https://github.com/square/Cleanse/blob/99081590f669d0619d1219a035659a68b717e678/Examples/CleanseGithubBrowser/CleanseGithubBrowserTests/CleanseGithubBrowserTests.swift#L20

Error message: `Cannot convert value of type 'MembersPageSettings' to expected argument type 'Factory<AssistedInjectionTags.MembersPageSettingsSeed>'`

It looks the place `MembersPageSettings` meant to have is a partially injec

[2020-01-29 00:12] sebastianv1 commented on #125
Should be resolved with #127

[2020-01-29 18:05] #125 closed

[2020-01-31 18:19] sebastianv1 commented on #123
Thanks for reporting! Unsure why this is happening atm. Will look into this. Is there anything we can do to help unblock consuming?

[2020-01-31 18:24] ultraon commented on #123
@sebastianv1 Thanks for the response. I'm wondering when `Cleanse` have Swift Property Wrappers related functionality, it could be very similar to Dagger 2 using `Inject` annotations https://docs.swift.org/swift-book/LanguageGuide/Properties.html .

[2020-02-01 00:06] sebastianv1 commented on #123
This is going off topic from the original issue you filed (still going to investigate), but why not diverge a bit :)

I'm happy you asked about Cleanse and property wrappers! I've been thinking a bit about this and would love to hear your input. First, although Java annotations and Swift Property Wrappers look similar leveraging the `@` character, they function very differently. From Java's docs:

[2020-02-05 17:59] sebastianv1 commented on #123
@ultraon Released v4.2.5 which should allow you to add `Cleanse` as a Swift PM dependency. Verified it worked locally on XC 11.2.1. Let me know if you run into any more issues.

[2020-02-05 17:59] #123 closed

[2020-02-05 18:28] DJBen opened #130 "An example of injection within SceneDelegate that supports SwiftUI (+ thinking)"
Hi 👋 as iOS app is moving towards multi-window support from iOS 13 an onwards, the example that injects `window` to the `AppDelegate` no longer the recommended way. Given that the rising use case of SwiftUI, I made an example that supports SwiftUI and uses `SceneDelegate` as the root object of the injection.

https://github.com/DJBen/SceneDelegateInjectionExample

I am still unconvinced if `AppDel

[2020-02-06 17:31] sebastianv1 commented on #130
@DJBen You bring up a good point about root setup for iOS 13+ since we're now dealing with more objects (`UIScene` and `UISceneDelegate`) where we the developers don't control construction. Correct me if I'm wrong, but I think the main issue to address here is creating guidance on how constructing `UIScene` and `UISceneDelegate` instances fit into Cleanse.

As a quick aside, the nice thing about C

[2020-02-11 21:53] DJBen commented on #130
Definitely agree.

Because there will be essential initialization logic living inside of `AppDelegate` (examples well illustrated in this [article](https://www.vadimbulavin.com/refactoring-massive-app-delegate/)), it has merit to make `AppDelegate` the root object of the dependency graph to initialize APIs, databases and other things that other application logic may also use later in the app launc

[2020-02-11 23:22] sebastianv1 commented on #130
Yes, scenes are a good example where subcomponents can really shine due to scoping and deinit.

The scenario I'm concerned about is how one can bind a `UISceneDelegate` instance into the Cleanse DI graph when using the `AppDelegate` as their root to receive dependencies. The scene delegate will likely needs objects bound in the DI graph. For example, in your sample project you inject the main view

[2020-04-16 06:13] nugmanoff commented on #98
@sebastianv1 Hey! Are there any updates on this one? I am having the similar case

[2020-04-16 06:13] nugmanoff commented on #98
@TomVanDerSpek did you managed to solve you problem?

[2020-04-16 06:42] TomVanDerSpek commented on #98
@nugmanoff no, unfortunately not.

[2020-04-16 06:43] nugmanoff commented on #98
@TomVanDerSpek how did you move on with the issue then?

[2020-04-16 06:52] TomVanDerSpek commented on #98
@nugmanoff I switch over to Swinject

[2020-04-16 14:15] nugmanoff commented on #98
@TomVanDerSpek ok, thanks!

[2020-04-16 21:11] sebastianv1 commented on #98
Hi all, I put pushed #131 which addresses this issue specifically. Very old issue, and validated using the sample project @TomVanDerSpek provided (had to also change retaining the `ComponentFactory` instance in the AppDelegate). Please take a look! :)

[2020-04-17 14:21] nugmanoff commented on #98
@sebastianv1 that's great to hear! I was just considering which DI framework to use, and circular dependency (specifically the case that @TomVanDerSpek stumbled upon) - was one of the key factors :)

[2020-04-17 16:32] sebastianv1 commented on #98
Closing as PR was merged into master. Please let me know if you all run into any further issues.

[2020-04-17 16:32] #98 closed

[2020-08-01 10:03] razvanred99 opened #160 "Trying to imitate the @BindsOptionalOf behaviour from Dagger 2"
Hi, I'm new to Cleanse, I'm trying to imitate the behaviour of the ```@BindsOptionalOf``` annotation from Dagger 2.

More specifically, I'm trying to make a Component's Seed object available to its RootComponent.

If you're familiar with the [dagger.dev ATM tutorial](https://dagger.dev/tutorial/), at the [last step](https://dagger.dev/tutorial/14-avoiding-recursive-logins) the Account object bind

[2020-08-01 10:43] razvanred99 commented on #160
Hi, I'm new to Cleanse, I'm trying to imitate the behaviour of the ```@BindsOptionalOf``` annotation from Dagger 2.

In particular, I'm trying to make available a Seed object of a Component to its RootComponent.

If you're familiar with the [dagger.dev ATM tutorial](https://dagger.dev/tutorial/), at the [last step](https://dagger.dev/tutorial/14-avoiding-recursive-logins) the Account object bind i

[2020-08-02 17:46] sebastianv1 commented on #160
@razvanred99 Thanks for the issue! I see two distinct issues here so I'm gonna break this up into two parts.

1. Regarding`@BindsOptionalOf`, I think adding an optional dependency requirement could be a helpful feature for Cleanse. Off the top of my head, my thinking is that it would take the form of `OptionalProvider<E>` so that it doesn't collide with Swift's `Optional` type. I can draft an RFC

[2020-08-03 18:54] holmes commented on #160
@razvanred99 even in Dagger there's not a direct way to provide a Subcomponent's seed value to a parent graph. I didn't quite follow what was happening in the dagger.dev tutorial but you can do something like this (sorry, my Swift might be a bit rusty):

In your `RootComponent`, create a class that acts as a holder: `AccountStatusHolder`. That class can have a nullable account on it `Account?` The

[2020-08-11 07:58] geraldeersteling commented on #98
Just starting out with Cleanse.

Is this really fixed? I still get `nil` after trying out `WeakProvider` with a protocol...
I have a circular VIP architecture in the form of:

VC -> Interactor
Interactor -> Presenter
Presenter -> VC (Weak)
Router -> VC (Weak)

I use the `WeakProvider` in the initialisers of the Presenter and Router, but both of them give back a `nil` when trying to call `get()`. I

[2020-08-11 16:18] sebastianv1 commented on #98
@geraldeersteling The bug should be fixed on master. Are you based off master or 4.2.5?

I had plans to release 4.2.6 soon with our new compile-time tool [`cleansec`](https://github.com/square/Cleanse/blob/master/cleansec/README.md), but I'd be happy to just mark the tool as alpha and release 4.2.6 for you.

[2020-08-12 07:26] geraldeersteling commented on #98
Used Cocoapods to install, iirc it's on 4.2.5.

But don't hurry yourself on my account 😄 I'm going to switch design-patterns to MVVM as we speak, so this cyclic dependency is not going to reappear there.

[2020-08-17 21:39] corban123 opened #163 "Slack url is down"
Slack invite link is down, need a new one.

[2020-08-18 15:50] sebastianv1 commented on #163
There hasn't been activity on the slack channel for a bit now. I'll update the README to remove. Feel free to open an issue here if you have any questions or problems!

[2020-08-18 15:50] #163 closed

[2020-08-18 18:51] corban123 opened #164 "Integration with Swift 5.2 Features?"
Is there a way to make use of Swift 5.1/2's PropertyWrappers to allow something along the lines of

[code]
rather than requiring all parameters for a class to go through the initializer?

[2020-08-18 19:06] sebastianv1 commented on #164
@corban123 That could be possible. Cleanse also supports property injection so that you don't have to require all the parameters to go through the initializer.

We've internally had some discussions whether or not we should make use of property wrappers but haven't found a solid use case. I'd love to hear more about how property wrappers might help you with Cleanse.

[2020-08-18 19:42] corban123 commented on #164
In my mind, the main use case for us is a cleanliness factor for instantiating and presenting view controllers that require multiple services if not relying on a View Model for making network calls. That, or being able to avoid requiring an assisted factory for adding the View Model to the graph(Be it unscope) to be able to access the services that exist in graph. To make sure I clarify, what I'm

[2020-08-18 19:43] corban123 commented on #164
Property injection works, however, it requires its own function, and as per your own documentation, is a second class citizen.

[2020-08-19 01:55] corban123 commented on #164
This would also allow usage with SwiftUI as custom initializers aren't a big thing for it

[2020-08-19 16:58] sebastianv1 commented on #164
In the example you posted, the only way to make `@Injected` grab an instance for any of the services (`ServiceA`, `ServiceB`, or `ServiceC`) would require a global container object. This is an antipattern for DI frameworks as it breaks scoping, the idea of building a unique graph every time we construct a `RootComponent`, and makes testability very difficult.

In order to avoid a global container,

[2020-08-19 17:08] corban123 commented on #164
That all makes sense, and I'm unsure if I'd die on the hill saying that SwiftUI doesn't use custom initializers as the language is so young and unused that common patterns aren't common yet, but it's not something I see often.

While I've got you here, what is the expectation of usage with a Coordinator pattern where an object is expected to initialize and present 4+ view controllers? Is there an

[2020-08-19 17:34] sebastianv1 commented on #164
Agreed, and total valid to bring up. We'd like Cleanse to evolve with the standard patterns that might emerge with SwiftUI.

Assisted factories are helpful for objects that require "just in time" dependencies but don't need to be bound into the graph. One common example is a list view and an assisted factory for a detail view that requires an `id` upon selection. So with the coordinator pattern, i

[2020-08-19 18:25] corban123 commented on #164
I've been meaning to ask as I've been curious, but what's the main reason for having a ViewController get added to the graph? I can't imagine a situation where the view controller is considered a "dependency" for another object, at least not in such a way that I'd compare it to a networking object.

[2020-08-19 21:01] sebastianv1 commented on #164
I guess I would flip the question and ask why _not_ have a ViewController in the graph? If the object does not exist in the graph then it becomes more difficult swap out implementations since another object lower in the dependency tree is constructing your view controller. Every object, view controller, or even view model are nodes in your dependency graph at the end of the day. Which is a nice se

[2020-08-20 17:52] corban123 commented on #164
This makes sense! One last question. When you're adding a ViewController to the graph, where are you expected to bind it to? Generally the examples have surrounded binding a model/service to a VC/Model's init, but generally you don't initialize ViewControllers with a view controller.

[2020-08-20 18:23] sebastianv1 commented on #164
I'm not sure if I totally follow what you're asking, but a binding is telling Cleanse how to construct some object type. For instance, `binder.bind(Int.self).to(value: 3)` is telling Cleanse, "here's how to construct an integer." So when you want to add a view controller to the dependency graph, you would add a binding for your view controller. And then as you're alluding to, when we want to const

[2020-08-20 19:37] corban123 commented on #164
Close, but not entirely. This actually brings up my point. I can't imagine a situation where you initialize a ViewController(ViewControllerB here) with another ViewController, generally those get initialized in the view controller at the necessary time. Lets say in this example, ViewControllerA looks like

[code]

In the configure you include whatever module contains ServiceA, and then bind ViewCo

[2020-08-20 19:49] sebastianv1 commented on #164
Ah so in this case you would use `Provider<ViewControllerA>` as a dependency. Cleanse will create this type for you in the dependency graph when create a binding, so you simply add it as:
[code]

[2020-08-20 20:36] corban123 commented on #164
That Provider<ViewControllerA> still needs to be initialized though in the initializer correct?

[2020-08-20 21:44] sebastianv1 commented on #164
Correct, but that's a very cheap initialization. To take a small step back, having a view controller accept another view controller in its initializer follows the good pattern of practicing dependency injection (with or without a framework). Instead of having `ViewControllerB` be responsible for constructing `ViewControllerA`, pushing that concern above helps make testing and swapping implementati

[2020-08-20 21:50] corban123 commented on #164
The worry I have are for things that present a bunch of different view controllers, such as Coordinators. At that point your initializer can balloon quite a bit.

[2020-08-24 15:57] sebastianv1 commented on #164
@corban123 I'm going to close this issue for now, but thanks for the discourse! If you want to continue this discussion, don't hesitate to reach out personally.

[2020-08-24 15:57] #164 closed

[2020-09-20 19:19] baillyjamy commented on #104
Hello, I'm trying to instantiate my ViewControllers with my storyboard and inject my deps with bindPropertyInjectionOf based on your sample but with a router pattern.

So for exemple I have :

RouterA in ViewControllerA (is RootViewController)
RouterB in ViewControllerB
ViewControllerC

Each router instantiate next ViewController. My code looks something like this in RouterA :

[code]

But I don't

[2020-09-21 01:35] sebastianv1 commented on #104
@baillyjamy I don't quite follow exactly what you're trying to accomplish. If you need another property injector for say `ViewControllerC`, you should be able to just create another `PropertyInjector` binding for `ViewControllerC` and inject that alongside your `PropertyInjector<ViewControllerB>` (`init(injectorB: PropertyInjector<ViewControllerB>, injectorC: PropertyInjector<ViewControllerC>) { .

[2020-10-12 18:36] harleyjcooper opened #171 "Can't build Cleanse tests in Xcode 12"
When building the Cleanse project in Xcode 12, it fails with a number of `Ambiguous use of 'to'` failures in `MemoryManagementTests.swift` and `CleanseTests.swift`.

Compilation and unit tests succeed by making the return type explicit:
[code]

but it's more likely indicative of some underlying issue.

[2020-10-15 23:20] s-hocking commented on #171
+1

Another workaround is to use the parameter labels, e.g.:

[code]

[2020-10-18 07:49] soniccat opened #172 "What is the right structure for multi-module projects?"
Hi.
I've tried this lib in iOS and got a question about problems people have with using subcomponents in multi-module projects in Android. This article is a good example: https://proandroiddev.com/using-dagger-in-a-multi-module-project-1e6af8f06ffc. In short, Android devs use "dependencies" feature from Dagger2 instead. They create a separate dependency interface and pass it to create new a featur

[2020-10-19 14:48] soniccat commented on #172
@sebastianv1 Let me paraphrase. I'm about the difference between using subcomponents and dependencies in Dagger2. Here a good explanation about these 2 approaches: https://stackoverflow.com/a/30135139/191027. I got how to do "subcomponents" approach using Cleanse but I didn't find the way for "component dependencies" approach.

I've researched the topic a bit. I created a project with several sub

[2020-10-19 16:31] sebastianv1 commented on #171
@harleyjcooper Seems to be an interesting issue surround the 0-arity `factory` and `value` functions. Opened a topic on the swift forums: https://forums.swift.org/t/ambiguous-use-of-function-with-trailing-closures/41144

@s-hocking 's workaround is the correct way to fix for now. The Cleanse library itself successfully compiles, I'll go ahead and fix the tests to disambiguate. I won't make any API

[2020-10-19 20:55] sebastianv1 commented on #172
@soniccat I think I follow and believe you're asking about the `Seed` type that you can pass into a subcomponent?

When you create a subcomponent, you can specify this by setting the `Seed` associated type. For example:

[code]

And then when you want to build your subcomponent with the `ComponentFactory<MySubComponent>`, you would be required to pass an instance of `Dependencies`.

[code]

Assist

[2020-10-19 23:32] sebastianv1 commented on #171
Merged updating the repo to compile & test using XC 12. Will open another issue to address the ambiguous function issue.

[2020-10-19 23:32] #171 closed

[2020-10-20 07:41] soniccat commented on #172
@sebastianv1 yeah, that what I ended up with here https://github.com/soniccat/CleanseWithMultiModuleTest.
As I wasn't aware of Guice, "Assisted Injection" term was confusing for me. But now everything is clear.

Thanks for your help

[2020-10-21 11:12] soniccat commented on #172
@sebastianv1 sorry for coming back to the same topic. Is it possible now to somehow attach the properties of a seed into a root component dependency graph?

Now I have DefinitionsDeps argument in the init of DefinitionsViewController and manually create DefinitionsVM from DefinitionsDeps. Is it possible to somehow get a new created DefinitionsVM in the init of DefinitionsViewController without cha

[2020-10-21 16:17] sebastianv1 commented on #172
@soniccat That's exactly correct! You'd simply create a binding for `DefinitionsVM`. The `Seed` type `DefinitionsDeps` is available within your object graph.

So in your `DefinitionsComponent` you would add the binding to the `configure(binder:)` function

[code]

This binding would you allow you to directly inject this into your view controller. Once an object is "bound" into a a component, you m

[2020-10-21 16:40] soniccat commented on #172
@sebastianv1 wow, that works, thanks

[2020-10-21 16:40] #172 closed

[2020-11-02 17:38] sebastianv1 commented on #160
@razvanred99 We currently do not have any plans to implement an optional binding provider. To achieve the same effect today, you could create a swift optional binding of your type and assign it to `nil`.

[code]

PRs welcome if you'd like to help add this feature!

[2020-11-02 17:38] #160 closed

[2020-12-11 19:14] dbtech opened #174 "Inject a single property into multiple objects"
Actually I want to rephrase a question that had already been asked over 3 years ago and closed 2 years later (see issue #45). One of my reasons to return to the subject is the possibility that the Components in the current version might be essentially different from the earlier one.

I am about to port an Android app relying, among others, on two important components: Dagger 2 and Android ViewMode

[2020-12-11 19:38] sebastianv1 commented on #174
I don't quite follow what you mean by this. Maybe a code sample would help demonstrate? There isn't a one-to-one coupling between property injection and components. Components (or scopes) hold all the bindings for your graph similar to Dagger, and you can create any number of property injectors in each component. For example, let's say we had two View Controllers (`ViewControllerA` and `ViewContro

[2020-12-14 18:09] dbtech commented on #174
Yes! Thank you for the fast and comprehensive answer. It was really swift :). The closure in ".to { }" seems straightforward, however  I was not able to find the solution on my own. The above sample might deserve to be included in the README.

[2020-12-14 18:09] #174 closed

[2020-12-14 18:13] sebastianv1 commented on #174
Good idea! Do you mind elaborating on which part was confusing and would help elaborating on in the README? The property injector portion, or using the `to { ... } ` factory closure?

[2020-12-14 19:07] dbtech commented on #174
It was the factory closure that helped. Yet I am not sure if that is the right answer to your question. I have read the Property Injection section thoroughly but I was unable to translate the generic explanation into specific code. It is clearly explained that there are two types of the terminating function but due to my limited swift skills I could not match any of them to the following code exam

[2020-12-25 15:18] chathil commented on #130
since `SceneDelegate` and `AppDelegate` are no longer necessary with the latest SwiftUI, is this how to inject it?.

[code]

[code]

here's the sample: https://github.com/chathil/adoptme-ios

[2020-12-26 23:23] sebastianv1 commented on #130
@chathil Yes, that's how I would build your object graph using SwiftUI's `@main` annotation. Sample project is great, would you like to add it under the `Examples/` folder?

[2020-12-27 03:42] chathil commented on #130
@sebastianv1 sure. i will create the PR ASAP.

[2021-02-23 01:44] hieunc278 commented on #130
Thanks @chathil

Your's example looks great. I have tried to run and saw that it worked properly.

However, I have the question, could you please review it also ?

My concern is how to inject UserData and User object at HomeScreen directly, not passed as property and environment object as in the example ?

[2021-02-23 14:38] chathil commented on #130
@hieunc278
This issue might not be the right place to ask this question? and i don't really understand your question. Do you want to make HomeScreen as the entry point for Cleanse?, or maybe you want to inject both variables via the constructor like this?

`HomeScreen(currentUser: user, userData: userData)`

i'm not doing any property injection on HomeScreen, only on AdoptmeApp because i don't hav

[2021-02-25 23:00] hieunc278 commented on #130
Dear @chathil

Thanks for your feedback.

Sorry if I made you confuse, however, I mean that could we use User and UserData as property injection for HomeScreen as AdoptMeApp ? So we have not to pass UserData via Environment object.

[2021-07-03 00:57] sedestrian commented on #130
Hello, i'm having trouble with this approach or with the library.

I'm initialising Firestore through Cleanse, and it crashes saying to configure FirebaseApp before accessing Firestore, which i'm doing like this already

`@main
class ChopsticksApp: App {
    private var viewModel: StartupViewModel!

    required init() {
        FirebaseApp.configure()
        let firestore = Firestore.firestore()

[2022-07-02 17:18] sebastianv1 opened #180 "API Facelift"
The public interface for Cleanse was inspired by Java's Guice and feels a bit outdated and less idiomatic. This has created some friction for other considering using Cleanse as a DI solution. I'd like to facelift the API using some of the modern language features (i.e result builders). Put together a functional POC: https://github.com/sebastianv1/SwiftInjector

[code]
becomes -->

[code]

Any inte

[2022-07-02 17:20] sebastianv1 commented on #180
(And @brianwang9100 )